<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block head %}
    <title>Gym Manager</title>
    {% endblock %}
    <link rel="stylesheet" href="/styles.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
</head>
<body>

    <header class="container_header">
        <div class="menu">
            <a href="/" class="active">Instructor</a>
            <a href="members">Members</a>
        </div>    
    </header>

    <hr>

    {% block content %}{% endblock %}

</body>
</html>