@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root{
    --primary-color: #7159c1;
    --secondary-color: #f7df1e
}

*{
    margin: 0;
    padding: 0;
    border: none;
}


body {
    background-color: var(--primary-color);
    font-family: 'Roboto', sans-serif;
}

header{
    background-color: white;
    width: 100%;
    padding: 32px;
    text-align: center;
    box-sizing: border-box;
}

.menu{
    font-size: 22px;
}

 /* O a + a, adiciona a propriedade no proximo a*/
.menu a + a{
    margin-left: 32px;
}

.menu a{
    position: relative;
    text-decoration: none;
    color: #777;
}

/*adiciona uma estilização em um a 
quando estiver com a classe active*/
.menu a.active {
    font-weight: bold;
    color: var(--primary-color);
}

.menu a:hover{
    color: var(--primary-color)
}

.menu a::after{
    content: "";
    width: 0;
    height: 2px;
    background-color: var(--primary-color);
    position: absolute;
    left: 0;
    bottom: -2px;
}

.menu a:hover::after{
    width: 100%;
    transition: width 700ms ease-in-out 1ms;
}

/* === CARD ==*/

.card{
    background-color: white;
    width: 800px;
    min-height: 400px;

    /* espaçamento no top, bottom e laterais */
    margin: 45px auto;

    /* grid divido ao meio */
    display: grid;
    grid-template-columns: 1fr 1fr;
    
    /* sombra */
    box-shadow: 0px 2px 6px -2px rgba(0, 0, 0, 0.4);

    /* animation */
    animation-name: up 200ms ease-out;
}

@keyframes up{
    from {
        opacity: 0;
        transform: translateY(15px) ;
    }

    to{
        opacity: 1;
    }
}

/*details*/

.details{
    padding: 32px;
}

.details .item{
    border-bottom: 1px solid rgba(0,0,0,0.1);
    padding: 16px 0;
}

.details .item:last-child{
    border: none;
}

.details h3, 
.details .item div:nth-child(1){
    font-size: 14px;
    line-height: 24px;
    color: #777;
    letter-spacing: 0.7px;
    font-weight: normal;
}

.details .item div:nth-child(2){
    color: #555;
    font-weight: bold;
    font-size: 18px;
}

.details h3{
    text-transform: uppercase;
    font-weight: bold;
    color: var(--primary-color);
}

.details .item span{
    padding: 8px 16px;
    background-color: var(--secondary-color);
    border-radius: 16px;
    color: #777;
    margin-right: 4px;
    margin-top: 8px;
    display: inline-block;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
}

/* FORM */

input{
    width: 100%;
    outline: none;
    color: #555;
    font-weight: bold;
    font-size: 18px;
}

input[type="radio"]{
    width: initial;
    margin-right: 4px;
}

input::placeholder{
    font-size: 14px;
    font-weight: normal;
}

button[type="submit"],
a.button{
    padding: 8px 32px;
    background-color:  var(--primary-color);
    border-radius: 4px;
    color: white;
    font-size: 16px;
    margin-top: 32px;
    width: 100%;
}

a.button{
    display: block;
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
    
}